@import url(reset.css);
@keyframes animacja {
  25% {
    opacity: 1; }
  37% {
    opacity: 0; } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
html {
  font-family: 'EB Garamond', serif;
  box-sizing: border-box;
  font-size: 10px; }

section {
  height: 100vh;
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

@media only screen and (min-width: 521px) {
  #gora {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 2;
    display: none;
    overflow: hidden; }
    #gora i {
      font-size: 5rem;
      text-decoration: none;
      color: white; }
    #gora i:hover {
      color: burlywood; }

  header {
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 490px;
    height: 100px;
    font-size: 20px;
    margin-top: 30px; }

  h1 div {
    letter-spacing: 4px;
    width: 190px; }

  h1 div:nth-of-type(1) {
    text-align: right;
    float: left;
    height: 50px;
    line-height: 25px; }

  h1 div:nth-of-type(2) {
    text-align: left;
    float: right;
    height: 50px;
    line-height: 25px; }

  h1 div:nth-of-type(3) {
    border: 1px solid orange;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 55px;
    width: 495px; }

  header img {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 10px; }

  nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3; }
    nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%; }
      nav ul li {
        width: 16.6666666%;
        height: 40px;
        line-height: 40px;
        background-color: #558000;
        text-align: center;
        font-size: 1.6rem;
        transition: all 0.1s ease;
        color: white; }
        nav ul li:hover {
          background-color: #77b300; }
        nav ul li a {
          display: block;
          color: white; }

  #slider_box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; }

  #slider_box > div {
    width: 100%;
    height: 100vh;
    animation: animacja 20s ease infinite 0s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0; }

  #slider_box > div:nth-child(1) {
    background: url("../img/img.jpg") center/cover no-repeat; }

  #slider_box > div:nth-child(2) {
    background: url("../img/img2.jpg") center/cover no-repeat;
    animation-delay: 5s; }

  #slider_box > div:nth-child(3) {
    background: url("../img/img3.jpg") center/cover no-repeat;
    animation-delay: 10s; }

  #slider_box > div:nth-child(4) {
    background: url("../img/img4.jpg") center/cover no-repeat;
    animation-delay: 15s; }

  #o_nas {
    background: url("../img/o_nas.jpg") center/cover no-repeat;
    position: relative; }

  section .box_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 33%;
    right: 10%;
    background-color: white;
    opacity: 0.7;
    font-size: 1.5rem; }

  #o_nas h2 {
    position: absolute;
    right: 25%;
    top: 80px;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 800; }

  #o_nas p {
    position: absolute;
    width: 350px;
    padding: 10px;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    right: 13%;
    top: 140px;
    text-align: justify;
    word-spacing: 0.3rem; }

  #konie {
    position: relative;
    background: url("../img/konie.jpg") center/cover no-repeat; }
    #konie div {
      height: 100vh;
      position: absolute;
      opacity: 0.0;
      transition: all 0.7s ease;
      text-align: center;
      text-shadow: 2px 4px 10px black; }
    #konie span {
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      line-height: 25px;
      font-weight: 200;
      left: 0px;
      bottom: 50%; }

  #konie div:nth-of-type(1) {
    width: 40%;
    padding-top: 1%; }

  #konie div:nth-of-type(2) {
    width: 25%;
    left: 40%;
    padding-top: 8%; }

  #konie div:nth-of-type(3) {
    width: 35%;
    left: 65%;
    padding-top: 15%; }

  #konie div:hover {
    opacity: 1;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: white; }

  #noclegi {
    position: relative;
    background: url("../img/noclegi.jpg") center/cover no-repeat; }
    #noclegi h2 {
      position: absolute;
      left: 26%;
      top: 80px;
      font-size: 2.6rem;
      letter-spacing: 0.2rem;
      font-weight: 700; }
    #noclegi p {
      position: absolute;
      width: 350px;
      padding: 10px;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      line-height: 2.5rem;
      left: 16%;
      top: 140px;
      text-align: justify;
      word-spacing: 0.3rem; }
    #noclegi .box_content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 33%;
      left: 15%;
      background-color: white;
      opacity: 0.7; }

  #atrakcje {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f0f0f5; }
    #atrakcje h2 {
      font-size: 3rem;
      color: black;
      padding: 10px 140px; }
    #atrakcje img.myImg {
      margin: 1%;
      width: 31.11111111%;
      height: 40%;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 5px 5px 5px #888888; }
    #atrakcje .myImg:hover {
      opacity: 0.8;
      transform: scale(0.98); }
    #atrakcje .modalHidden {
      display: none;
      position: fixed;
      z-index: 3;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      background-color: black;
      overflow: hidden; }
    #atrakcje .modal_content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      opacity: 1; }
    #atrakcje #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
      text-align: center;
      font-size: 20px; }
    #atrakcje .modal_content, #atrakcje #caption {
      animation-name: zoom;
      animation-duration: 0.6s; }
    #atrakcje .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s; }
    #atrakcje .close:hover, #atrakcje .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer; }

  #cennik {
    height: 100vh;
    background: url(../img/cennik.jpg) center/cover no-repeat;
    position: relative; }
    #cennik #cena_tabela {
      position: absolute;
      right: 15%;
      top: 15%;
      z-index: 2;
      height: 60vh;
      width: 40%;
      border-collapse: collapse;
      font-size: 23px;
      opacity: 0.8; }
      #cennik #cena_tabela td, #cennik #cena_tabela tr {
        border: 1px solid black;
        padding: 8px 10px;
        height: 30px;
        background-color: #efeff5; }
      #cennik #cena_tabela tr:hover {
        background-color: #ddd; }
      #cennik #cena_tabela th {
        padding: 15px;
        text-align: left;
        background-color: darkgrey;
        color: black; }

  #kontakt {
    background: url("../img/kontakt.jpg") center/cover no-repeat;
    position: relative;
    color: white; }
    #kontakt div {
      position: absolute;
      right: 10px;
      top: 60px;
      width: 650px;
      padding: 10px;
      text-shadow: 2px 2px 5px black; }
      #kontakt div h2 {
        font-size: 4rem;
        padding: 30px;
        letter-spacing: 1.2rem;
        text-align: center; }
      #kontakt div h3 {
        padding-top: 150px;
        font-size: 3rem;
        letter-spacing: 0.4rem;
        text-align: center;
        font-style: italic;
        font-weight: 500; }
      #kontakt div i {
        display: block;
        font-size: 2.2rem;
        padding-left: 100px;
        padding-top: 10px;
        padding-right: 10px;
        float: left; }
      #kontakt div p {
        font-size: 2.2rem;
        padding-top: 10px; }
    #kontakt p:nth-last-child(1) {
      position: absolute;
      font-size: 2.2rem;
      padding-top: 10px;
      bottom: 5%;
      left: 5%; } }

/*# sourceMappingURL=style.css.map */
